<h1>{{title}}</h1>
<p>Welcome to {{title}}, Please login with following account: </p>

<ul>
<li><a href="auth/facebook">Login with Facebook</a></li>
<li><a href="auth/google">Login with Google</a></li>
</ul>

<p>You are login</p>